@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* a list of cards */

.listCards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: calc(var(--size) * 2) 0;
	gap: 3.3rem;

}

.listCards .root {
	width: 100%;
	max-width: calc(var(--size--container) /4.5);
	margin: calc(var(--size) / 4);
	margin-bottom: calc(var(--size) * 4.5);
	background:white;
}

/* the root of a card */

.root:hover {
	border-color: var(--c-bg--accent-opacity);
}
.root a {

	height: 100%;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	background-color: transparent;
	color: var(--c-fg);
	box-shadow: 0px 0px 8px 2px #E3E3E3,-0px -0px 8px 2px #E3E3E3;
}
.root:hover a{
	transition: all 0.5s ease-out;
	transform: scale(1.1,1.1);

}
.baseImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.header {
	position: relative;
	align-items: center;
	width:100%;
	padding-bottom: 0;
	height:8rem;
	background-size: cover;
	transition: all 0.5s ease-in-out;
}
.root:hover .header{
	background-size: cover;
	opacity:0.95;
	transition: all 0.5s ease-in-out;
}

.title {
	position: absolute;
	left: 1rem;
	bottom: 3rem;
	font-size: var(--font-size-h4);
	font-weight: bold;
	margin-bottom: 0;
	text-align: left;
	color:white;
	word-spacing: 100vw;
	font-family: var(--font-family);


}

.duration{
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	color:white;
	font-size: var(--font-size-s2);

}
.content {
	mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
	--webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
	text-align: left;
	padding:1rem;
	font-size: var(--font-size-s2);
	font-weight: bold;
	overflow:hidden;
	display: block;
	text-overflow: ellipsis;
	max-height: 10rem;
	font-family: 'Poppins', sans-serif;
	color:#5E5E5E;
	overflow: hidden;
}


.footer {
	text-align: left;
	text-transform: uppercase;
	color: var(--c-link);
	padding:1rem;
}


/*BUTTON*/


.btn{
	display: inline-block;
	color:white;
	background:var(--c-bg--accent);
	border:None;
    font-weight: 700;
	font-size: var(--font-size-s2);
	padding:0.4rem 1rem;
	font-family: 'Poppins', sans-serif;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	cursor: pointer;
}


@media only screen and (max-width: 600px) {
	.listCards .root {
		width: 100%;
		max-width: calc(var(--size--container) / 3.5);
		margin: calc(var(--size) / 4);
		margin-bottom: calc(var(--size) * 2);
		background:white;

	}
  }
