/* inside a menu > li */

.programMenu {
	margin: calc(var(--size) / 2);
}
@media (min-width: 60rem) {
	.programMenu {
		margin: calc(var(--size) * 3);
	}
}
.programMenu,
.programLi {
	list-style: none;
}

.programLi {
	border-top: 1px solid var(--c-accent);
}

.programLi:first-of-type {
	background-color: var(--c-bg--accent-opacity);
	border-radius: 0.2em;
	color: var(--c-accent);
	padding: calc(var(--size) / 2);
}

.programLi:first-of-type .program,
.programLi:first-of-type .programIdentifier{
	padding: calc(var(--size) / 3);
}
.programLi:last-of-type .programIdentifier {
		font-size: var(--font-size);
}
@media (max-width: 60rem) {
	.programLi:last-of-type .program {
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.programLi:last-of-type .programIdentifier {
		padding: 0;
		max-width: none;
	}
}

.program {
	display: flex;
	padding: var(--size);
	align-items: center;
}

.programIdentifier {
	max-width: 5rem;
	width: 100%;
	flex-grow: 1;
	font-size: var(--font-size-h4);
	font-weight: bold;
	font-family: var(--font-family);
	padding: calc(var(--size) / 3);
}
@media (min-width: 60rem) {
	.programIdentifier {
		max-width: 10rem;
		width: 100%;
		flex-grow: 1;
		padding: var(--size);
	}
}
.programTitle {
	font-family: var(--font-family);
	font-size: var(--font-size-h4);
	font-weight: bold;
	margin-bottom: 0;
}

.programMain {
	flex-grow: 1;
}
