.root {
	composes: container from "../components/layout.module.css";
	padding: var(--size);
	align-self: center;
}

.header {
}

.title {
	font-size: var(--font-size-h1);
}

.title a {
	text-decoration: none;
	color: var(--c-fg);
}

.content {
	font-size: var(--font-size-h6);
}
