.page {
	composes: container from "../components/layout.module.css";
	justify-self: center;
	align-self: center;
}

.title {
	font-size: var(--font-size-h1);
	padding-bottom: var(--size);
	padding-top: var(--size);
	margin: 0;
}

.container{
	padding: var(--size);
	max-width: var(--size--container);
}
.content a{
	color:#124621;
}
@media (min-width: 60rem) {
	.content {
		padding-left: calc(var(--size) * 2);
		padding-right: calc(var(--size) * 2);
	}
}
