.page {
	composes: container from "../components/layout.module.css";
	align-self: center;
}
.listFaqs {
	list-style: none;
}
.listFaqs + .listFaqs {
	margin-top: calc(var(--size) * 2);
}
.listQuestions {
	padding-left: 0;
}
.listQuestions li {
	list-style: none;
}

.faqCard {}
.faqTitle {
	font-size: var(--font-size-h3);
}

.card summary {
	 cursor: pointer;
}

.questionCard {
	margin-left: calc(var(--size) / 2);
}
.questionCard details[open] {
	margin-bottom: var(--size);
}

.questionCard summary {
	cursor: pointer;
	padding: calc(var(--size) / 2);
}

.questionCardTitle {
	font-size: var(--font-size-h5);
	display: flex;
	justify-content: space-between;
	text-align: left;
}
.questionCard details[open] .questionCardTitle::after {
	content: '-';
}
.questionCardTitle::-webkit-details-marker,
.questionCardTitle::before {
	display: none;
}

.questionCardTitle::after {
	content: '+';
	font-family: var(--font-family--header);
	font-size: var(--font-size-h4);
	font-weight: bold;
	line-height: 1;
	margin-top: -0.2em;
}

.questionCardMain {
	margin-left: var(--size);
}
