.page {
	composes: container from "../components/layout.module.css";
	justify-self: center;
}

.title {
	font-size: var(--font-size-h1);
	text-align: center;
	padding: var(--size);
	margin: 0;
}

.disclaimerCourses {
	font-size: var(--font-size-h6);
}

.disclaimerCourses sup {
	font-weight: bold;
	margin-right: calc(var(--size)/3);
	font-size: var(--font-size-h6);
}

.sectionBgHighlight {
	background-color: var(--c-link);
}
.sectionBgLight {
	background-color: var(--c-bg--light);
}
