.title {
	font-size: var(--font-size-h1);
	text-align: center;
	padding: var(--size);
	margin: 0;
	color: var(--c-bg);
}

.container {
	composes: containerCenter from "../components/layout.module.css";
}
