.root {
	align-self: center;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {}
.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-size: var(--font-size-h1);
	text-align: center;
	padding: var(--size);
	margin: 0;
}

.form {
	width: 100%;
	max-width: calc(var(--size--container) / 3);
	padding: var(--size);
}
