.title {
	font-size: var(--font-size-h1);
	text-align: center;
	padding: calc(var(--size) * 2);
	margin: 0;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	justify-self: center;
	max-width: calc(var(--size) * 30);
	padding: var(--size) 0;
}

.container {
	composes: container from "../components/layout.module.css";
}
