.headerWrapper{
	position: fixed;
	width:100vw;
	transition: transform 333ms ease-in-out, background-color 222ms ease-in-out;
	top: 0;
	z-index: 3;
	transform: translateY(-100%);
	animation-name: introLoading;
	animation-duration: 555ms;
	background-color: transparent;
}
.logo{
	cursor: pointer;
}
.headerWrapperVisible{
	composes: headerWrapper;
	transform: translateY(0);
	position: fixed;
	background-color: transparent
}
.headerWrapperVisibleDark{
	composes: headerWrapper;
	transform: translateY(0);
	/* make the navbar darker*/
	background-color: var(--c-bg--accent-opacity);
	transition: transform 333ms ease-in-out, background-color 222ms ease-in-out;
}

.root {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-left: 10%;
	padding-right: 10%;
	padding-top:calc(var(--size) / 2);
	padding-bottom:calc(var(--size) / 2);
	background-color: transparent;
}
.title {
	margin-bottom: -13px;
	margin-right: var(--size);
}
.title a {
	text-decoration: none;
}
.description {
	margin-bottom: -0.5rem;
	flex-grow: 1;
	color: var(--c-accent);
}
.menu {
	list-style: none;
	margin: 0;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.menuItem {
	margin: 0;
	padding: 0;
}

.menuItem a {
	padding: calc(var(--size) / 2);
	display: block;
	text-decoration: none;
}
.loginBlock{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
}

.hamburger{
	display: none;
}
.hamburgerBtn{
	cursor: pointer;
	background-color: transparent;
	border: none;
}
.hamburgerMenu{
	display: none;
}


@media screen and (max-width: 92rem) {
	.root {
		overflow-y: hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 1rem;
		padding-top:calc(var(--size) / 2);
		flex-wrap: nowrap;
		background-color: transparent;
	}
	.hamburgerMenu{
		display: block;
		width: 60vw;
		height: 100vh;
		top: 0;
		position: absolute;
		right: -100%;
		background-color: white;
		padding-bottom: 3rem;
		transition: all 1s ease-in-out;
		transform: translateX(100%);
	}

	.hamburgerMenuActive {
		overflow-y: scroll;
		position: absolute;
		background-color: white;
		width: 60vw;
		height: 100vh;
		top: 0;
		opacity: 1;
		right: 0;
		transition: all 1s ease;
		transform: translateX(0);
		z-index: 1;
		box-shadow: -5px 0px 40px 0px rgba(0, 0, 0, 0.8);

	}
	.hamburgerMenuActive .hamburgerBtn{
		color: var(--c-bg--accent);

		padding: 10% 10% 0 0;

	}
	.hamburgerMenu .hamburgerBtn{

		padding: 10% 10% 0 0;

	}

	.menuItem{
		display: none;

	}
	.loginBlock{
		display:none;
	}
	.hamburger{
		display: block;
		text-align: end;
	}
	.loginBlockMobile{
		padding: 2rem;
		display: flex;
		flex-direction: row;
		align-items: baseline;
		justify-content: center;
		font-size: var(--font-size-h4);
		font-weight: bold;
		line-height: 20px;
	}
	.loginBlockMobile a{
		text-decoration: none;
		color: var(--c-bg--accent);
	}



}
