.root {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	flex-wrap: wrap;
	background-color: transparent;
}
.item {
	display: flex;
	transition: transform 333ms ease, background-color 222ms ease;
}
.item a {
	padding: calc(var(--size) / 3) calc(var(--size) / 2);
	text-decoration: none;

}
.item:hover{
	text-underline-offset: 0.2rem;
	transform: scale(1.1);
	transition: transform 333ms ease, background-color 222ms ease;
}

.mobileMenuView .item a:hover{
	color: aliceblue;
}
.mobileMenuView .item:hover{
	transform: none;

}

.mobileMenuView a {
	display: table;
	width: 100%;
	padding: 2rem;
	color:rgba(77, 89, 68, 1);
	;

}
.mobileMenuView a:hover{

	background-color: rgba(77, 89, 68, 1);
}
.mobileFooterMenuView a:hover{

	background-color: rgba(77, 89, 68, 1);
}

.mobileFooterMenuView .item a:hover{
	color: aliceblue;
}
.mobileFooterMenuView .item:hover{
	transform: none;

}
.mobileFooterMenuView a {
	display: table;
	width: 100%;
	padding: 2rem;
	color:rgba(77, 89, 68, 1);
}
.mobileFooterMenuView menu {
	flex-direction: column;
	display: flex;
	list-style: none;
	justify-content: flex-end;
	flex-wrap: wrap;
	background-color: transparent;
}


