.listCards {
	display: flex;
	justify-content: center;
}

.listCards a {
	text-decoration: none;
	background-color: transparent;
	color: var(--c-fg);
	transition: background-color 333ms ease-in-out;
	border-radius: 0.2em;
}
.listCards a:hover {
	background-color: var(--c-bg-accent);
	background-color: transparent;
	color: var(--c-bg);
}

.listCards .card {
	flex-basis: 50%;
	margin: var(--size);
	max-width: calc(var(--size) * 15);
}
.listCards .card:last-of-type {
	border-color: var(--c-fg);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card a {
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	display: flex;
	border: 0.1em solid var(--c-accent);
	background-color: var(--c-accent);
	padding: var(--size);
	transition: background-color 222ms ease-in-out;
}
