.button {
	padding: calc(var(--size) / 2);
	border: 1px solid transparent;
	transition: border-color 200ms ease-in-out;
	display: inline-block;
	cursor: pointer;
}
.button:hover {
	border-color: var(--c-accent);
}
