/*
	A layout for the app/site
*/

@keyframes introLoading {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: var(--c-bg--accent);
	}
}

.header {
	transition: transform 333ms ease-in-out, background-color 222ms ease-in-out;
	transform: translateY(-100%);
	position: sticky;
	top: 0;
	z-index: 3;
	animation-name: introLoading;
	animation-duration: 555ms;
}
.header a,
.header a:visited,
.header a:active {
	color: var(--c-link);
}
.headerIsVisible {
	composes: header;
	transform: translateY(0);
}
.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.footer {
	background-color: var(--c-bg--accent);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: var(--size);
	z-index: 1;
}

.footer p {
	margin-bottom: 0;
	color: var(--c-bg);
	font-size: var(--font-size-s1);
	font-style: italic;
}

.footer menu {
	display: flex;
	list-style: none;
	justify-content: center;
}
.footer menu li a {
	padding: calc(var(--size) / 2);
	display: inline-flex;
}
.footer a,
.footer a:visited,
.footer a:active {
	color: var(--c-link);
}

.container {
	padding: var(--size);
	max-width: var(--size--container);
	width: 100%;
}

.containerCenter {
	text-align: center;
}
