.section {
	composes: containerCenter from "../layout.module.css";
	padding: calc(var(--size) * 2);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.title {
	font-size: var(--font-size-h2);
	text-align: left;
}
@media (min-width: 60rem) {
	.title {
		flex-basis: 30vw;
	}
}

.content {
	padding: var(--size);
	text-align: left;
}

@media (min-width: 60rem) {
	.content {
		padding: calc(var(--size) / 2);
		max-width: 60vw;
	}
}

.content li {
	margin-bottom: var(--size);
}
