/*contact form*/
.container{
	padding: 5% 10% 10%  10%;
}
.title{
	font-weight: bold;
	color: var(--c-bg--accent);
	font-size: 30px;
	flex: 2;
}
.vNameNachname{
	display: flex;
	flex-direction: row;
	gap: 2rem;
}
.wrapper_contact_form_text{
	display: flex;
	flex-direction: column;
	flex:2;
	justify-items: flex-start;
	min-height: 100%;
	justify-content: space-between;
}
.contact_form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-weight: 400;
	font-family: var(--font-family);
	color: rgba(1, 70, 20, 0.4);/* Firefox */
}
.contact_form input{
	background-color: rgba(1, 70, 20, 0.1);
	border-radius: 3px;
	border: 1px solid #014614;
	width: 100%;
}
.contact_form label{
	color: #014614;
	font-weight: bold;
	align-self: stretch;
    width: 100%;
}
.wrapper_contact_form_fields{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper_contact_form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 2rem;
}
.paragraph{
   flex: 17;
}
.contact_form{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
	flex:2;
}
.contact_submit{
	font-family: var(--font-family);
	font-weight: normal;
	color:#596555;
	width: calc(var(--size) *10);
	background-color: #EFD67E;
	border:none;
}
.contact_submit:hover{
	transition: all 0.5s ease-in-out;
	color:#fff;
	width: calc(var(--size) *10);
	background-color:#FFB923;
}
.span{
	font-size: 0.8rem;
}
.cef_level_wrapper{
	display: -webkit-flex; 
	-webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
}
.cef_level_wrapper label{
    padding-top:0.2rem;
	-webkit-flex:2;
}
.cef_level_wrapper input{
   -webkit-flex: 0;
   flex-shrink: 0;
}

@media screen and (max-width: 1100px) {
	.wrapper_contact_form{
		flex-direction: column;
	}
	.contact_form{
		flex-direction: column;
		width: 100%;
	}
	.contact_form input{
		width: 100%;
	}
    .span{
		font-size: 0.6rem;
	}
}

