@keyframes introLoading {
	0% {
		background-color: transparent;
	}
	100% {
		background-color: inherit;
	}
}

@keyframes introLoadingText {
	0% {
		transform: translate(-7%);
		color: transparent;
		opacity: 0;
	}
	60% {
		transform: translate(-3%);
		color: transparent;
	}
	100% {
		transform: translate(0);
		color: var(--c-accent);
		opacity: 1;
	}
}

.root {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;

	padding: var(--size);
	background-color: transparent;
	transition: all 333ms ease-in-out;
	background: var(--c-bg--accent);
	overflow: hidden;
	transform: translateY(0);
}
.root:not(.rootIsVisible) {
	background-color: var(--c-bg);
	transform: translateY(-10vh);
}


.title,
.content,
.cta {
	color: var(--c-accent);
	z-index: 1;
	animation-name: introLoadingText;
	animation-duration: 400ms;
	transition: all 333ms ease-in-out;
	align-self: flex-start;
	margin-left: 10%;
}

.title {
	font-size: var(--font-size-h1);
	font-weight: bold;
	max-width: calc(var(--size--container) / 2.3);
}

.content {
	font-size: var(--font-size-p);
	max-width: calc(var(--size--container) / 2.3);
}

.cta {
	composes: button from "../buttons.module.css";
	color: var(--c-bg--tone) !important;
	background-color: var(--c-bg);
	text-decoration: none;
	font-weight: bold;
	font-size: var(--font-size-p);
	animation-duration: 600ms;
	padding: calc(var(--size)/3);
}

.root img {
	object-fit: cover;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	transition: all ease-in-out 555ms;
	filter: blur(0);
	opacity: 0;
}

.rootIsVisible img {
	opacity: 1;
}
