@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');
.root {
	composes: container from "../layout.module.css";
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 1;
	margin-top: calc(var(--size) * 4);
	margin-bottom: calc(var(--size) * 4);
	padding-left: 8%;
	padding-right: 8%;
}
.header {
	display: flex;
	flex-direction: column;
}
.imageWrapper {
	z-index: 1;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

.contentContainer{
	margin-right: calc(var(--size) * 2);
}


.title {
	font-size: var(--font-size-h1);
	color:rgba(41, 41, 41, 1);
	font-family:'Poppins', sans-serif;
	font-weight: bold;
	max-width: calc(var(--size--container) / 2.5);
	z-index: 2;
}

.content {
	padding-top: 1em;
	max-width: calc(var(--size--container) / 2.5);
	padding-right: calc(var(--size) * 2);

}

@media  screen and (max-width: 65rem) {

	.image {
		display: none;

	}
	.contentContainer{
		margin-right: 0;
	}
	.content {
		max-height: calc(var(--size--container)/3);
		overflow-y: scroll;
		padding-top: 1em;
		max-width: calc(var(--size--container) / 2.5);
		padding-right: 0;
	}
	.content::-webkit-scrollbar {
		width: 0.5em;
	}
	.title {
		font-size: var(--font-size-h2);
		color:rgba(41, 41, 41, 1);
		font-family:'Poppins', sans-serif;
		font-weight: bold;
		max-width: calc(var(--size--container) / 2.5);
		z-index: 2;
	}
}


