.form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-weight: 400;
	font-family: var(--font-family);
	color: rgba(1, 70, 20, 0.4);/* Firefox */
}
.form input{
	background-color: rgba(1, 70, 20, 0.1);
	border-radius: 3px;
	border: 1px solid #014614;
	width: 100%;
}
.form label{
	color: #014614;
	font-weight: bold;
	align-self: stretch;
}
.container{
	padding: 5% 10% 10%  10%;
}
.form{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	gap: 1rem;
}
.paragraph{
	flex:1;
	align-self: baseline;
	margin-top:1.15rem;
}
.title{
	font-weight: bold;
	color: var(--c-bg--accent);
	font-size: 30px;
	flex: 1;
}
.wrapper{
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	align-items: flex-start;
	gap: 2rem;
	flex: 0;
}
.vNameNachname{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 2rem;
	width: 100%;
}
.submit{
	font-family: var(--font-family);
	font-weight: normal;
	color: white;
	width: calc(var(--size) *10);
	background-color: #014614;
	border:none
}
.span{
	font-size: 0.8rem;
}
.w{
	display: flex;
	flex-direction: row;
}
@media screen and (max-width: 768px) {
	.wrapper{
		flex-direction: column;
		width: 100%;
		flex: 2;
	}
	.form{
		flex-direction: column;
		width: 100%;
	}
	.vNameNachname{
		flex-direction: column;
		gap:0.8rem;
	}
	.form input{
		width: 100%;
	}
	.paragraph{
		margin-top:0;
	}
}
