.section {
	composes: containerCenter from "../layout.module.css";
	padding: 5% 10% 10% 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: var(--c-bg--light);
}

.header {
	flex-grow: 1;
}
.title {
	flex-basis: 30vw;
	text-align: center;
	align-self: flex-start;
	font-size: var(--font-size-h1);
	color: var(--c-bg--accent);
	font-weight: bold;
}
@media (min-width: 60rem) {
	.title {
		padding: calc(var(--size) / 2);
	}
}

.blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;

}
.block {
	transition: all 0.5s ease;
	text-align: left;
	margin-bottom: var(--size);
	padding: var(--size);
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.block:hover{
	transform: scale(1.1);
	transition: all 0.5s ease;
}
@media (min-width: 60rem) {
	.blocks{
		flex-direction: row;
		flex-wrap: nowrap;
		gap: calc(var(--size)*2);

	}
	.block {
		padding: var(--size);
		flex-basis: 33%;
		box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
	}
}
.blockTitle {
 color: var(--c-bg--accent);
}
