.section {
	composes: containerCenter from "../layout.module.css";
	padding: 0px 10%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: var(--font-size-h2);
	text-align: left;
}


.content {
	padding: var(--size);
	text-align: left;
}


.content li {
	margin-bottom: var(--size);
}

.content ul {
	/* lay out li items 3 by 3 */
	columns: 3;
	/* gap between columns */
	column-gap: calc(var(--size)*2);
	/* gap between rows */
	row-gap: var(--size);
	padding-top: 8%;
}
@media  (max-width: 768px) {
	.content ul {
		columns: 1;
	}
}

