.section {
	align-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	background-color: var(--c-bg);
	transition: background-color 666ms ease-in-out;
}

.sectionFullHeight {
	composes: section;
	flex-grow: 1;
	min-height: 60vh;
}

.sectionFullHeight:first-child:last-child {
	flex-grow: 1;
	min-height: auto;
}

.title {
	font-size: var(--font-size-h1);
	text-align: center;
	font-weight: bold;
	line-height: 46px;
	color: rgba(41, 41, 41, 1);
}

.sectionTransparent {
	background-color: transparent;
}

.sectionPadding {
	padding: var(--size);
}
@media (min-width: 60rem) {
	.sectionPadding {
		padding: calc(var(--size) * 2);
	}
}

.sectionIsVisible {
}

.sectionIsVisible.sectionBgLight {
	background-color: var(--c-bg--light);
}
.sectionIsVisible.sectionBgHighlight {
	background-color: var(--c-link);
}
.sectionBgTheme {
	background-color: var(--c-bg--accent);
}

.sectionRadius {
	/* border-top-left-radius: 20%; */
	/* border-top-right-radius: 30%; */
	position: relative;
	z-index: 0;
}

.sectionRadius::before,
.sectionRadius::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: inherit;
	z-index: -2;
	transform: translateY(-100%);
	transition: all 666ms ease-in-out;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
}
.sectionIsVisible.sectionRadius::before,
.sectionIsVisible.sectionRadius::after {
	transform: translateY(-10%);
}
