.section {
	overflow: hidden;
	composes: containerCenter from "../layout.module.css";
	padding: var(--size);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	min-height: 60vh;
	position: relative;
	transition: background-color 222ms ease-in-out;
}

.sectionIsVisible {
	background-color: transparent;
}

.section:not(.sectionIsVisible) {
	background-color: var(--c-bg);
}

.header {
	order: 1;
	width: calc(var(--size) * 25);
	flex-grow: 1;
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	/* transform: translate(20vw, 20vh); */
	z-index: 1;
}

.aside {
	order: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}

.aside img {
	object-fit: cover;
	width: 100%;
	height: 100%;
    mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 75%,rgba(0,0,0,0) 100%);
       -webkit-mask-image: linear-gradient(to bottom, rgba(255,255,255,1) 75%,rgba(0,0,0,0) 100%);
}

.title {
	color: var(--c-accent);
	font-size: var(--font-size-h1);
}

.content {
	color: var(--c-accent);
	font-size: var(--font-size-h5);
	font-weight: lighter;
}
