.root {
	composes: container from "../layout.module.css";
	padding: var(--size);
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	align-self: center;
	overflow: hidden;
}
@media (min-width: 60rem) {
	.root {
		align-items: flex-start;
	}
}
.content {
	z-index: 1;
	background-color: var(--c-bg--accent-opacity);
	padding: var(--size);
	color: var(--c-accent);
}
@media (min-width: 60rem) {
	.content {
		max-width: 45rem;
	}
}

.cta {
	composes: button from "../buttons.module.css";
	text-align: center;
	color: var(--c-bg--accent) !important;
	background-color: var(--c-accent);
	z-index: 1;
	text-decoration: none;
	font-weight: bold;
	font-size: var(--font-size-h4);
	margin-top: var(--size);
}
.cta:hover {
	color: var(--c-accent) !important;
	background-color: var(--c-bg--accent);
}
@media (min-width: 60rem) {
	.cta {
		margin-left: calc(var(--size) * 2);
	}
}

.root img {
	object-fit: cover;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}


@media (min-width: 60rem) {
	.root img {
		max-width: 50rem;
		max-height: 30rem;
		top: 35%;
		right: 5%;
		left: auto;
	}
}
