/* slider of list cards */
.slider {
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	z-index: 2;
}
.sliderMain {
	width: 100%;
	max-width: calc(var(--size) * 20);
	padding: var(--size);
}
.sliderTitle h2 {
	font-size: var(--font-size-h2);
	color: var(--c-bg--accent);
	font-style: normal;
	font-weight: 900;
	line-height: 2.875rem;
}
.sliderContent {
	color: var(--c-bg--accent);
	font-family: var(--font-family-card-slider);

}
.sliderSlides {
	position: relative;
}
.sliderContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.sliderControls {
	display: flex;
	text-align: right;
}
.button {
	/* padding: var(--size); */
	composes: button from "../buttons.module.css";
}
.button:hover {
	border-color: transaprent;
}
.sliderDiscoverBtnPrevious {
	composes: button;
	background-color: transparent;
	opacity: 1;
	transition: opacity 200ms ease-in-out;
}
.sliderDiscoverBtnPrevious[disabled] {
	opacity: 0;
	cursor: inherit;
}
.sliderDiscoverBtnNext,
.sliderDiscoverBtnPrevious {
	margin: calc(var(--size) / 2);
	font-size: var(--font-size-h2);
	border-color: transparent;
	background: none;
	cursor: pointer;
}

.slider .listCards {
	font-size: var(--font-size-s1);
}

/* list of cards */
.listCards {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.listCards .root,
.listCards .rootActive {
	cursor: pointer;
}
.listCards .root:hover .title {
	background-color: var(--c-bg--accent);
	color: var(--c-accent);

}
.listCards > li {
	display: flex;
}

.listCards > li:not(:last-child)::after {
	margin-top: calc(var(--size) * 2);
	content: '';
	display: block;
	width: calc(var(--size) * 2);
	height: 0.1rem;
	background-color: var(--c-bg--accent);
	display: inline-flex;
	z-index: -1;
}

/* card elements */
.root {
	/* padding: var(--size); */
	transition: background-color 200ms ease-in-out;
}
.rootActive .title,
.rootActive .step {
	background-color: var(--c-bg--accent);
	color: var(--c-accent);
}
.header {
	text-align: center;
}
.header::after {
	content: '';
	display: block;
	height: calc(var(--size) * 2);
	background-color: var(--c-bg--accent);
	width: 0.1rem;
	display: inline-flex;
	z-index: -1;
}
.title,
.step {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: var(--size);
	/*border: 0.15rem solid var(--c-fg);*/
	border-radius: 10px;
	background-color: var(--c-bg);
	transition: background-color 400ms ease-in-out, color 400ms ease-in-out;
}
.title {
	font-family: var(--font-family-card-slider);
	text-transform: uppercase;
	margin-bottom: 0;
	font-style: normal;
	font-weight: 900;
}
.steps {
	list-style: none;
	padding: 0;
	margin-top: -0.4rem;
}
.step {
	margin-bottom: calc(var(--size) / 3);
	font-family: var(--font-family-card-slider);
}
 /* mobile view */
@media (max-width: 53.125rem) {

	.sliderSlides {
		overflow: scroll;
	}
	.sliderControls {
		display: none;
	}
	.listCards > li:not(:last-child)::after {
		display: none;
	}
	.listCards{
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: baseline;
		justify-content: flex-start;
		gap: calc(var(--size) * 3);
		padding-left:calc(var(--size));
		padding-right: calc(var(--size));


	}
}
