/*
	Global styles for the whole application
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* variables */
:root {
	--site-programming: 'https://publicservices.gitlab.io';
	--font-family: 'Poppins', sans-serif;
	--font-family--header: 'Poppins', sans-serif;
	--line-height: 1.5;
  --font-family-card-slider: 'Poppins';
	/* a default sizing, for shared proportions;
		 we'll write all sizes with `rem` units  */
	--size: 1.5em;
	/* a size for a container (X axis) */
	--size--container: 90rem;

	/* font sizes */
	--font-size: 15px;
	--font-size-h1: 1.2em;
	--font-size-h2: 1.2em;
	--font-size-h3: 1.2em;
	--font-size-h4: 1.2em;
	--font-size-h5: 1em;
	--font-size-s1: 0.8em;
	--font-size-s2: 0.6em;

	/* colors */
	--c-bg: rgba(255,255,255, 1);
	--c-bg--light: #f8f8f8;
	--c-bg--accent: rgba(1, 70, 20, 1);
	--c-bg--accent-opacity: rgba(1, 70, 20, 0.9);
	--c-bg--tone: #274e13;
	--c-fg: black;
	--c-link: var(--c-accent);
	--c-accent: white;
}

/* variable defaults, based on the user browser's color scheme */
@media (prefers-color-scheme: light) {
	:root {}
}
@media (prefers-color-scheme: dark) {
	:root {}
}

/* font size queries */
@media (max-width: 40rem) {
	:root {
		--font-size: 8px;
		--font-size-h1: 2rem;
		--font-size-h2: 1.8em;
		--font-size-h3: 1.6em;
		--font-size-h4: 1.3em;
		--font-size-h5: 1.1em;
	}
}

@media (min-width: 80rem) {
	:root {
		--font-size: 10px;
		--font-size-h1: 2.5rem;
		--font-size-h2: 2.1em;
		--font-size-h3: 1.9em;
		--font-size-h4: 1.6em;
		--font-size-h5: 1.3em;
	}
}

@media (min-width: 120rem) {
	:root {
		--font-size: 20px;
	}
}

/* https://css-tricks.com/box-sizing/#aa-universal-box-sizing-with-inheritance */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* default global layout styles */
html {
	font-size: var(--font-size);
	/* clamp(min, target, max) */
	font-size: clamp(var(--font-size), 0.875rem + 0.25vw, calc(var(--font-size) * 1.6));
	font-family: var(--font-family);
	line-height: var(--line-height);
	color: var(--c-fg);
}

/* make root elements 100% height */
html {
	height: 100%;
}

html,
body,
#__next {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* reset & assign some elements default browser styles */
body,
menu {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family--header);
	font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

a,
a:visited,
a:active {
	color: var(--c-link);
}

figure {
	margin: 0;
}


/* forms */
form {
	display: flex;
	flex-direction: column;
}

input,
button,
textarea,
select {
	padding: calc(var(--size) / 2.5);
}

/* a pulse animation */
[animation="pulse"] {
	position:relative;
	z-index: 0;
	transition: font-size 200ms ease-in-out;
}
[animation="pulse"]:hover {
	border-color: transparent;

}
[animation="pulse"]:hover::after,
[animation="pulse"]:hover::before {
		background-color: var(--c-bg);
}
[animation="pulse"]::before,
[animation="pulse"]::after {
	width: var(--size);
	height: var(--size);
	background-color: var(--c-link);
	border-radius:50%
}
[animation="pulse"]::before,
[animation="pulse"]::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: calc(var(--size) / 2 * -1);
	margin-top: calc(var(--size) / 2 * -1);
	display: block;
	content: "";
	z-index: -1;
}
[animation="pulse"]::after {
	animation: pulse1 5s ease 0s infinite;
}
[animation="pulse"]::before {
	animation: pulse2 5s ease 0s infinite;
}
@keyframes pulse1 {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	80% {
		opacity: 0;
		transform: scale(2.5);
	}
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}
@keyframes pulse2 {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	30% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}
